<%- include('../partials/header') %>
<title>Password Reset</title>
</head>
<body>

    <body>
        <div class="container">

            <% if (info.length) { %>
                <div class="alert alert-success alert-dismissible fade show p-1 mt-1" role="alert">
                    <%= info %>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"
                    style="
                        font-size: 1rem;
                        padding: 10px 10px;
                    "></button>
                </div>
            <% } %>
  

            <div class="row d-flex justify-content-center">
                <div class="col-10 col-md-6">
                    <form action="/forget-pass" method="post" class='container' style="
                    padding: 30px;
                    box-shadow:0 2px 2px;
                    border-radius: 5px;
                    border: 1px solid black;
                    margin-top: 10rem;
                ">
                        <div class="mb-3">
                            <input type="email" class="form-control" placeholder='Enter your email Id' name="email">
                        </div>
                        <button type="submit" class="btn btn-secondary" id='sub'>Reset</button>
                    </form>

                </div>
            </div>
        </div>

        <script>
            btn = document.querySelector('#sub')
            btn.addEventListener('click',e=>{
                if(document.querySelector('input').value===''){
                    alert('email address required')
                    e.preventDefault()
                }
            })
        </script>

        <%- include('../partials/footer') %>