<div class="container"
id='res'>
    <div class="input-group mb-3">
        <input type="text" id='sinput' class="form-control" placeholder="Search food" aria-label="Search food" aria-describedby="basic-addon1">
        <button id='search' class='btn btn-outline-secondary'>Search</button>
    </div>
    <div class="text-center" id='spinner' style="display: none;">
        <div class="spinner-border" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</div>
<script src="/user/foodwiki.js" defer></script>
