<div class="container row d-flex justify-content-between">
    <div class="card col-lg-4 col-12">
        <img src="https://s1.1zoom.me/big0/530/Strawberry_Closeup_White_486570.jpg" class="card-img-top">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-sm btn-primary">Delete</a>
        </div>
    </div>
    <div class="card col-lg-4 col-12">
        <img src="https://s1.1zoom.me/big0/530/Strawberry_Closeup_White_486570.jpg" class="card-img-top">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-sm btn-primary">Delete</a>
        </div>
    </div>
    <div class="card col-lg-4 col-12">
        <img src="https://s1.1zoom.me/big0/530/Strawberry_Closeup_White_486570.jpg" class="card-img-top">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-sm btn-primary">Delete</a>
        </div>
    </div>
</div>